<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TeachShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos Cliente</h1>
        <a th:href="@{/}">Regresar</a>
        <br>
            <br>
                <form th:action="@{/guardarCliente}"
                      method="post"
                      th:object="${cliente}">
                    <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/>
                    <br>

                        <label for="apellidos">apellidos</label>
                        <input type="text" id="apellidos" name="correo" th:field="*{apellidos}" />
                        <br>

                            <label for="correo">Correo:</label>
                            <input type="email" id="telefono" name="correo" th:field="*{correo}"/> 
                            <br>

                                <label for="telefono">Telefono</label>
                                <input type="tel" id="telefono" name="telefono" th:field="*{telefono}">
                                    <br>
                                        <input type="submit" name="Guardar" value="Guardar"/>
                                        </form>    
                                        </body>
                                        </html>
